@media screen and (max-width: 1170px){

    header{
        flex-direction: column;
    }

    main{
        flex-direction: column;
    }

    h2{
        font-size: 40px;
        align-items: center;
        text-align: center;
    }

    form{
        margin: 0 auto;
        width: 60%;
    }

    input{
        align-self: center;
    }

    ul{
        text-align: center;
    }

    .imagem-central{
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .github-repo {
        flex-direction: column;
    }

    .github-repo a {
        margin-top: 10px;
    }

    main {
        flex-direction: column;
    }

    .left-column,
    .right-column {
        width: 100%;
    }

    .imagem-central{
        display: none;
    }
}