body{
    background: linear-gradient(to right,rgb(0,120,121) ,rgb(0,90,139) , rgb(0,90,100) );
    color: white;
    font-family: poppinsregular;
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#title{
    flex-direction: column;
    line-height: 15px;
}

li{
    display: inline-block;
    margin: 20px;
}

a{
    color: white
}

a:hover{
    color: rgb(0,191,255);
    transition: 0.3s all;
}

#inscreva-se-btn{
    border: 2px solid rgb(0,191,255);
    padding: 10px;
    border-radius: 20px;
}

#inscreva-se-btn:hover{
    background-color: rgb(0,191,255);
    color: white;
}

h1{
    font-weight: 200;
    line-height: 15px;
}

main{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

h2{
    font-size: 56px;
    line-height: 10px;
    font-family: poppinsbold;
}

span{
    color: rgb(0,191,255);
}

p{
    line-height: 20px;
    max-width: 500px;
    font-family: poppinslight;
}

img{
    width: 125%;
}

form{
    display: flex;
    flex-direction: column;
    width: 70%; 
}

form [type="submit"]{
    height: 50px;
    width: 50%;
    background-color: rgb(0,191,255);
    color: white;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

form [type="submit"]:hover{
   cursor: pointer;
   background-color: rgb(0, 80, 220);
}

input{
    margin-top: 20px;
    height: 20px;
    padding: 20px;
    border-radius: 20px;
    border: none;
    font-size: 15px;
}

.todos-membros {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
}
 
.membro {
    flex: 1;
    margin: 10px;
    text-align: center;
}
 
.membro img {
    max-width: 60%;
    height: auto;
    border-radius: 15px;
}

.chabot-box {
    background-color: rgb(0,191,255);
    border: 2px solid white;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    margin: 50px auto;
    max-width: 600px;
}

.chabot-box p {
    font-size: 18px;
    color: white;
    margin: 0;
}

main {
    display: flex;
    justify-content: space-between;
}

.coluna-esquerda,
.coluna-direita {
    width: 48%;
}

.caixa-colunas {
    background-color: rgb(0,90,100);
    border: 3px solid rgb(0,90,150);
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 10px;
    transition: background-color 0.3s ease;
}

.caixa-colunas:hover {
    background-color: rgb(0,120,150);
}


.sac {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 2px solid white;
    border-radius: 5px;
}

.interno-sac {
    margin-bottom: 10px;
}

label {
    display: block;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid white;
    border-radius: 5px;
}

button {
    background-color: rgb(0,191,255);
    color: #fff;
    padding: 10px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: rgb(0, 80, 220);
}

.github-repo {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
}

.github-repo a {
    background-color: rgb(0, 191, 255);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.github-repo a:hover {
    background-color: rgb(0, 80, 220);
}
